html {
    overflow-y: scroll;
}

button {
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.body {
    line-height: 100%;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: black;
}

.container {
    max-width: 1265px;
    padding: 0 10px;
    margin: 0 auto;
}

.none {
    display: none;
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.form-error {
    color: red;
}
